a {
    box-sizing: border-box;
    font-family: $font-family;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
}

a:hover {
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight-regular;
    line-height: $line-height;
    color: $color-text-main;
    position: relative;
    background: $color-bg-body;
}

.background {
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

aside {
    top: 0px;
    bottom: 0px;
    position: fixed;
    z-index: 300;
    width: $width-aside;
    overflow: hidden;
    background: $color-bg-aside;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

header {
    width: 100%;
    background: $color-primary;
}

main {
    position: relative;
    padding-top: 2em;
}

footer {
    position: fixed;
    z-index: 200;
    bottom: 0px;
    width: 100%;
    padding: 1.5em;
    background: $color-primary;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: rgba($color-primary-darken, .75);

    .container-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $color-neutral;
        padding: 5em;
        max-width: $breakpoint-medium;

        .close {
            padding: 0 .5em;
            border-radius: 3px;
            font-size: 1.5em;
            position: absolute;
            right: .25em;
            top: .25em;
            cursor: pointer;

            &:hover {
                background: $color-primary;
                color: $color-neutral;
            }
        }
    }
}

.container {
    margin: 0 auto;
    display: block;
    position: relative;
    max-width: 1100px;

    @media (max-width: $breakpoint-big) {
        padding: 0 2em;
    }
}
