.row-flex {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    &.row-flex-reverse {
        flex-direction: row-reverse;
    }

    &.row-flex-no_wrap {
        flex-wrap: nowrap;
    }

    &.row-flex-top {
        align-items: flex-start;
    }

    &.row-flex-middle {
        align-items: center;
    }

    &.row-flex-bottom {
        align-items: flex-end;
    }

    &.row-flex-stretch {
        align-items: stretch;
    }

    &.row-flex-baseline {
        align-items: baseline;
    }


    .col {
        box-sizing: border-box;
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;

        &.padding {
            padding: $padding-neutral;
            padding-right: 0;

            &:last-of-type {
                padding-right: $padding-neutral;
            }
        }

        &.box {
            margin-left: $padding-neutral;
            padding: $padding-neutral;
            border-radius: 2px;
            box-shadow: 0 0px 4px rgba(0, 0, 0, 0.05);

            &:last-of-type {
                margin-right: $padding-neutral;
            }
        }

        &.col-10 {
            flex-basis: 10%;
            width: 10%;
        }
        &.col-20 {
            flex-basis: 20%;
            width: 20%;
        }
        &.col-25 {
            flex-basis: 25%;
            width: 25%;
        }
        &.col-30 {
            flex-basis: 30%;
            width: 30%;
        }
        &.col-33 {
            flex-basis: 33.32%;
            width: 33.32%;
        }
        &.col-40 {
            flex-basis: 40%;
            width: 40%;
        }
        &.col-50 {
            flex-basis: 50%;
            width: 50%;
        }
        &.col-60 {
            flex-basis: 60%;
            width: 60%;
        }
        &.col-67 {
            flex-basis: 66.67%;
            width: 66.67%;
        }
        &.col-70 {
            flex-basis: 70%;
            width: 70%;
        }
        &.col-75 {
            flex-basis: 75%;
            width: 75%;
        }
        &.col-80 {
            flex-basis: 80%;
            width: 80%;
        }
        &.col-90 {
            flex-basis: 90%;
            width: 90%;
        }

        &.col-offset-10 {
            margin-left: 10%;
        }
        &.col-offset-20 {
            margin-left: 20%;
        }
        &.col-offset-25 {
            margin-left: 25%;
        }
        &.col-offset-30 {
            margin-left: 30%;
        }
        &.col-offset-33 {
            margin-left: 33.32%;
        }
        &.col-offset-40 {
            margin-left: 40%;
        }
        &.col-offset-50 {
            margin-left: 50%;
        }
        &.col-offset-60 {
            margin-left: 60%;
        }
        &.col-offset-67 {
            margin-left: 66.67%;
        }
        &.col-offset-70 {
            margin-left: 70%;
        }
        &.col-offset-80 {
            margin-left: 80%;
        }
        &.col-offset-90 {
            margin-left: 90%;
        }

        &.col-start {
            justify-content: flex-start;
            text-align: left;
        }

        &.col-center {
            justify-content: center;
            text-align: center;
        }

        &.col-end {
            justify-content: flex-end;
            text-align: right;
        }
    }
}

@media (max-width: $breakpoint-medium) {
    .row-flex {
        display: block;
        flex-direction: column;
        text-align: center;

        .col {
            display: block;
            width: 100%;

            &.col-10, &.col-20, &.col-25, &.col-30, &.col-33, &.col-40, &.col-50, &.col-60,
            &.col-67, &.col-70, &.col-80, &.col-90{
                display: block;
                width: 100%;
                margin-bottom: 2em;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }

    .row-flex-row {
        display: flex;
        flex-direction: row !important;

        &.col {
            margin: 0;
        }
    }
}
