.nav-header {
    a.menu {
        display: none;
        padding: 2em 1.5em;
        font-size: 125%;
        color: $color-primary;

        @media (max-width: $breakpoint-medium) {
            display: block;
        }
    }

    ul {

        .secondary-nav {
            display: inline-block;
            padding-left: .5em;
            margin-left: .5em;
            border-left: $border-navigation
        }

        li {
            display: inline-block;
            margin: 0px;
            padding: 0px;

            a {
                font-weight: $font-weight-regular;
                font-size: 87.5%;
                display: inline-block;
                padding: 2.25em 2.25em;
                color: rgba($color-neutral, .75);

                i {
                    color: orange;
                    margin-top: -2px;
                    padding-right: .7em;
                }

                &.active {
                    color: $color-neutral;
                    border-bottom: 5px solid $color-neutral;
                    margin-bottom: -3px;
                }

                &:hover {
                    color: $color-neutral;
                    i {
                        color: $color-neutral;
                    }
                }
            }
        }
        @media (max-width: $breakpoint-medium) {
            position: absolute;
            display: none;
            right: 0;
            width: 100%;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);

            li {
                display: block;
                background: $color-neutral;

                a {
                    display: block;
                    width: 100%;
                    padding: 1em;
                    text-align: center;
                    border-bottom: 1px solid #f9f9f9;

                    // &.active {
                    //     border-top: none;
                    //     border-left: 4px solid $color-primary;
                    // }
                }
            }
        }
    }
}
